---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>WhyStopTexting — WhatsApp Chat Analyzer</title>
		<meta
			name="description"
			content="Analyze your WhatsApp chat backup. Find out who is the most active, chat intensity, and much more."
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
