---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>WhyStopTexting — WhatsApp Chat Analyzer</title>
		<meta
			name="description"
			content="Analyze your WhatsApp chat backup. Find out who is the most active, chat intensity, and much more."
		/>
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-KW9C5SLVWR"
		></script>

		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-KW9C5SLVWR");
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
